<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.elizabeth.framework.BbsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/bbs/findAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NPEServlet</servlet-name>
        <servlet-class>com.elizabeth.framework.NpeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NPEServlet</servlet-name>
        <url-pattern>/npe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServiceUnavailableServlet</servlet-name>
        <servlet-class>com.elizabeth.framework.ServiceUnavailableServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServiceUnavailableServlet</servlet-name>
        <url-pattern>/unavailable</url-pattern>
    </servlet-mapping>



    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/503.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/503.html</location>
    </error-page>


</web-app>